{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
    Assignment 2 is based on allowing users to sign up / login with 
    the ability to add bookmarks. Name said bookmarks, display how many
    bookmarks are based within a collection along with adding images to
    assosiate with collections
  </p>
</section>