{{> welcomemenu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Template 2
  </h1>
  <p>
    Assignment 2 is based on allowing users to sign up / login with 
    the ability to add bookmarks. Name said bookmarks, display how many
    bookmarks are based within a collection along with adding images to
    assosiate with collections
  </p>
</section>